* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {

    font-family: Arial, sans-serif;

    background:
        linear-gradient(
            135deg,
            #0f2027,
            #203a43,
            #2c5364
        );

    min-height: 100vh;

    display: flex;

    justify-content: center;

    align-items: center;
}


.login-container {

    width: 100%;

    display: flex;

    justify-content: center;

    align-items: center;
}


.login-box {

    width: 400px;

    background: white;

    padding: 40px;

    border-radius: 20px;

    box-shadow:
        0 15px 40px
        rgba(0, 0, 0, 0.3);

    text-align: center;
}


.logo {

    font-size: 55px;

    margin-bottom: 10px;
}


h1 {

    font-size: 28px;

    margin-bottom: 8px;

    color: #1f2937;
}


.subtitle {

    color: #6b7280;

    margin-bottom: 30px;

    font-size: 14px;
}


form {

    text-align: left;
}


label {

    display: block;

    margin-bottom: 7px;

    font-weight: bold;

    color: #374151;
}


input {

    width: 100%;

    padding: 13px;

    margin-bottom: 20px;

    border: 1px solid #d1d5db;

    border-radius: 8px;

    font-size: 15px;
}


input:focus {

    outline: none;

    border-color: #2563eb;
}


button {

    width: 100%;

    padding: 14px;

    border: none;

    border-radius: 8px;

    background: #2563eb;

    color: white;

    font-size: 16px;

    font-weight: bold;

    cursor: pointer;
}


button:hover {

    background: #1d4ed8;
}


.error {

    background: #fee2e2;

    color: #b91c1c;

    padding: 10px;

    border-radius: 7px;

    margin-bottom: 20px;

    font-size: 14px;
}


.demo {

    margin-top: 25px;

    color: #6b7280;

    font-size: 13px;

    line-height: 1.7;
}